development:
  git:
    directory: '/data/book-exercises'
  accounts:
    sso:
      cookie_name: 'oxa_dev'
      signature_public_key: |
        -----BEGIN PUBLIC KEY-----
        foobar
        -----END PUBLIC KEY-----
      encryption_private_key: 'foobar'
test:
  git:
    directory: '/tmp/book-exercises'
  accounts:
    sso:
      cookie_name: 'oxa_dev'
      signature_public_key: |
        -----BEGIN PUBLIC KEY-----
        foobar
        -----END PUBLIC KEY-----
      encryption_private_key: 'foobar'
production:
  git:
    remote_url: 'https://github.com/openstax/book-exercises.git'
    directory: '/tmp/book-exercises'
    username: 'foo'
    password: 'password'
  accounts:
    sso:
      cookie_name: ssm(sso_cookie_name)
      signature_public_key: |
        ssm(sso_signature_public_key)
      encryption_private_key: ssm(sso_encryption_private_key)
  secret_key_base: random(hex,80)
